html, body {
	font-family: sans-serif;
	margin: 0;
	width: 100%;
	hight: 100%;
	left: 0;
	overflow: hidden;
	position: relative;
}


h1 {
	font-size: 100px;
	color: #ffffff;
	text-shadow: 0 2px #000000;
	margin: 3px;
	padding: 3px;	
}


h3 {
	font-size: 50px;
	color: #ffffff;
	text-shadow: 0 2px #000000;
}

ul {
	font-size: 30px;
	color: #ffffff;
	text-shadow: 0 2px #000000;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	background-color: #000000
}

.list-item {
  margin: 20px;
  background-color: #000000;
}



body, heading {
	padding: 3px 0;
	margin: 3px;
	padding-left: 50px;
	font-family: 'Trebuchet MS', 'Helvetica'; 
	background-color: #000000;
}
